/* Fuentes completas */

@font-face {
    font-family: 'MeaCulpa-Regular';
    src: url('/src/assets/font/mea-culpa-robert-leuschke/MeaCulpa-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'HighSociety-Regular';
    src: url('/src/assets/font/high-society/HighSociety.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'MrDafoe-Regular';
    src: url('/src/assets/font/mr-dafoe/MrDafoe-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Lie-to-me-Regular';
    src: url('/src/assets/font/lie-to-me/Lie\ to\ Me\ -\ TTF.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Gessele';
    src: url('/src/assets/font/gessele/Gessele.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'elsieswashcaps';
    src: url('/src/assets/font/elsie-swash-caps/ElsieSwashCaps-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'chopin-script';
    src: url('/src/assets/font/Ballet/Ballet_24pt-Regular.ttf') format('truetype');
    font-display: swap;
}

/* Clases de fuentes */

.font1 {
    font-family: 'MeaCulpa-Regular', sans-serif;
    font-size: 60px;
}

.font2 {
    font-family: 'HighSociety-Regular', sans-serif;
    font-size: 20px;
}

.font3 {
    font-family: 'MrDafoe-Regular', sans-serif;
    font-size: 50px;
}

.font4 {
    font-family: 'Lie-to-me-Regular', sans-serif;
    font-size: 18px;
}

.font5 {
    font-family: 'Gessele', sans-serif;
    font-size: 30px;
}

.font6 {
    font-family: 'elsieswashcaps', sans-serif;
    font-size: 20px;
}

.font7 {
    font-family: 'chopin-script', sans-serif;
    font-size: 40px;
}

/* Responsive fonts */

@media screen and (max-width: 1000px) {
    .font1 {
        font-size: 50px;
    }

    .font2 {
        font-size: 15px;
    }

    .font3 {
        font-size: 30px;
    }
}

@media screen and (max-width: 611px) {
    .font1 {
        font-size: 30px;
    }

    .font2 {
        font-size: 12px;
    }

    .font3 {
        font-size: 25px;
    }
}

.marquee-wrapper {
    overflow: hidden;
    width: 100%;
    position: relative;
}

.marquee-content {
    display: flex;
    gap: 1rem;
    margin-bottom: 15px;
    /* ancho automático */
    animation: scroll-left 60s linear infinite;
    will-change: transform;
}

/* tamaño fijo para las imágenes, adaptalo */
.marquee-item {
    flex: 0 0 auto;
    width: 180px;
    height: 180px;
    border-radius: 12px;
    overflow: hidden;
}

.marquee-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

/* animación para mover desde fuera derecha (100%) hasta fuera izquierda (-100%) */
@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-2324px);
  }
}